<form #f="ngForm" (ngSubmit)="onSearch(f.value)" class="form-inline">
         
    
    <input ngModel name="keyword" type="text" m><button  class="btn btn-sm btn-outline-info" >
        <span class="fa fa-search"></span>
    </button>
    
        
        </form>
