<div class="container">

    <ng-container *ngIf="productformGroup">

        <ng-container *ngIf="state as data">
            <ng-container *ngIf="data.dataState==ProductsStateEnum.LOADING">
                Loading....
            </ng-container>
            <ng-container *ngIf="data.dataState==ProductsStateEnum.LOADED">
                <div class="alert-success container p-3 m-3">
                    <span>Producte Saved Succefully</span>
                    <button class="btn btn-success ml-3" (click)="newProduct()">New Product</button>
                </div>
            </ng-container>

            <ng-container *ngIf="data.dataState==ProductsStateEnum.NEW">
                <form [formGroup]="productformGroup" >

                    <div class="form-group">
                        <label>Name:</label>
                        <input type="text" class="form-control" formControlName="name"
                            [ngClass]="{'is-invalid':submitted && productformGroup.controls.name.errors}">
                        <div *ngIf="submitted && productformGroup.controls.name.errors" class="invalid-feedback">

                            <div *ngIf="productformGroup.controls.name.errors.required">name is required</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Price:</label>
                        <input type="text" class="form-control" formControlName="price" required>
                    </div>

                    <div class="form-group">
                        <label>Quantity:</label>
                        <input type="text" class="form-control" formControlName="quantity">
                    </div>
                    <div class="form-group">
                        <label>selected:</label>
                        <input type="checkbox" formControlName="selected" class="form-check">
                    </div>

                    <div class="form-group">
                        <label>Available:</label>
                        <input type="checkbox" formControlName="available" class="form-check">
                    </div>
                    <button (click)="OnSaveProduct()">Save</button>
                </form>
            </ng-container>
        </ng-container>
    </ng-container>





</div>