<ng-container *ngIf="productsStatechild$ | async as state" [ngSwitch]="state.dataState">
    <ng-container *ngSwitchCase="productsDataStateEnum.INITIAL">
    
    <div class="p-2">Loading...</div>
    </ng-container>
    <ng-container *ngSwitchCase="productsDataStateEnum.ERROR">
    
        <div class="p-2">{{state.errorMessage | json}}</div>
    </ng-container>
    <ng-container *ngSwitchCase="productsDataStateEnum.LOADED">
        <table class="table">
            <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Selected</th>
            <th>Available</th>
            </tr>
            <tr  *ngFor="let prod of state.products">
        
                <td>{{prod.id}}</td>
                <td>{{prod.name}}</td>
                <td>{{prod.price}}</td>
                <td>{{prod.quantity}}</td>
                <td><span [ngClass]="prod.selected?'fa fa-check-circle text-success':' fa fa-check-circle text-danger'"></span></td>
                <td>{{prod.available}}</td>
                <td><button (click)="onSelect(prod)" [ngClass]="prod.selected?'btn-success':'btn-danger'" class="btn btn-sm btn-success">

                    <span *ngIf="prod.selected">select</span>
                    <span *ngIf="!prod.selected">unselect</span>
                       </button></td>
                       <td><button  (click)="onDelete(prod)"  class="btn btn-danger"><i class="fa fa-trash"></i></button></td>
                </tr>
            
            
            </table>
    
    </ng-container>
    
    
    
    </ng-container>


