<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <ul class="navbar navbar-nav">
        <li><button class="btn btn-outline-info ml-2 btn-sm" (click)="onGetAllproducts()">All</button>
        </li>

        <li><button class="btn btn-outline-info ml-2  btn-sm" (click)="onGetSelectedproducts()">Selected</button>

        </li>

        <li><button class="btn btn-outline-info ml-2  btn-sm" (click)="onGetAvailableproducts()">Availble</button>

        </li>
        <li><button class="btn btn-outline-info ml-2 btn-sm" (click)="onNewproducts()">New</button>
    
        </li>
        

    </ul>

    <ul class="navbar navbar-nav ml-auto">
        <li>
            <app-products-search></app-products-search>
</li>
</ul>    
</nav>